{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div>
                <h1 class="text-white text-center hero-text">Home Fitness
                    <a href="{% url 'products' %}"
                        class="btn btn-lg border-white text-white rounded-0 text-uppercase py-3 ml-10">Shop
                        Now</a>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container text-center about-us mt-5">
    <h2>Who we are</h2>

    <p>We at Home Fitness believe that you don't need to spent that extra money on gym memberships</p>
    <br>
    <p>This store has everthing you need to hit those goals, from you're own home.</p>
    <br>
    <p>We believe that there's more to gain</p>
</div>

<div class="container-fluid mt">
    <h1 class="text-center">Shop by Category</h1>
    <hr>
    <p class="text-center">Browse the below categories and see what we have for each!</p>
    <div class="row">
        <div class="container col col-12 col-md-6 col-lg-4  card bg-dark text-white">
            <a href="{% url 'products' %}?category=treadmills,rowing_machines,bikes">
                <img src="{% static 'images/cardio-index.jpg' %}" class="card-img" alt="Cardio">
                <div class="image-overlay">
                    <div class="card-img-overlay text">
                        <h5 class="card-title">Cardio</h5>
                        <p class="card-text">Get you running and moving faster</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="container col col-12 col-md-6 col-lg-4 card bg-dark text-white">
            <a href="{% url 'products' %}?category=bars,dumbells,kettlebells">
                <img src="{% static 'images/weights-index.jpg' %}" class="card-img" alt="Weights">
                <div class="image-overlay">
                    <div class="card-img-overlay text">
                        <h5 class="card-title">Weights</h5>
                        <p class="card-text">Pump those arms</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="container col col-12 col-md-6 col-lg-4 card bg-dark text-white">
            <a href="{% url 'products' %}?category=protein_bars,gels">
                <img src="{% static 'images/diet-index.jpg' %}" class="card-img" alt="Diet">
                <div class="image-overlay">
                    <div class="card-img-overlay text">
                        <h5 class="card-title">Diet</h5>
                        <p class="card-text">All your dietary needs to get those gains</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="container col col-12 col-md-6 col-lg-4 card bg-dark text-white">
            <a href="{% url 'products' %}?category=yoga_mats,skipping_ropes">
                <img src="{% static 'images/accessories-index.jpg' %}" class="card-img" alt="Accessories">
                <div class="image-overlay">
                    <div class="card-img-overlay text">
                        <h5 class="card-title">Accessories</h5>
                        <p class="card-text">Everything you need to get started</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid text-right">
        <div class="row">
            <div class="col">
                <p>Copyright 2021 by Nathan Highams</p>
            </div>
        </div>
    </div>
</footer>



{% endblock %}