{% extends "base.html" %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home Fitness</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Cardio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Weights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accessories</a>
          </li>
        </ul>
        <form method="GET" action="" class="d-flex">
          <input class="form-control me-2" type="text" name="q" placeholder="Search our products" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown"></li>
          <li class="list-inline-item"></li>
      </ul>
    </div>
  </nav>
{% endblock %}