{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="hero-image">
    <div class="hero-text">
    </div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">The new equipment is here</h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-white rounded-0 text-uppercase py-3">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <h1 class="">Shop by Category</h1>
    <hr>
    <p>Browse the below categories and see what we have for each!</p>
    <div class="row">
        <div class="col-4">
            <a href="{% url 'products' %}?category=treadmills,rowing_machines,bikes">
            <h5>Cardio</h5>
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
        
    </div><div class="row">
        <div class="col-4">
            <a href="{% url 'products' %}?category=bars,dumbells,kettlebells">
            <h5>Weights</h5>
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
        
    </div><div class="row">
        <div class="col-4">
            <a href="{% url 'products' %}?category=protein_bars,gels">
            <h5>Diet</h5>
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
        
    </div><div class="row">
        <div class="col-4">
            <a href="{% url 'products' %}?category=yoga,skipping_ropes">
            <h5>Accessories</h5>
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
        
    </div>
</div>

{% endblock %}
