{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="hero-image fit-tips-hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div>
                <h1 class="text-white text-center hero-text">Fit Tips</h1>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">


    <h3>Share your experiences!</h3>
    <p>Here you can share or discover the best ways to use our equipment.</p>
    {% if user.is_authenticated %}
    <h4>Feel free to leave a fit tip for anybody else out there using our equipment!</h4>
    {% else %}
    <h4 class="text-center text-smaller mb-4">To leave a fit tip, please <a href="{% url 'account_login' %}">Sign in</a> or <a href="{% url 'account_signup' %}"> create </a> an account.</h4>
    {% endif %}

</div>
<!-- Leave a fit tip  -->
{% if user.is_authenticated %}
<div class="mx-auto text-center" style="width: 400px;">
<form action="{% url 'add_fit_tip' %}" method="POST" class="fit-tip-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="fit_tip_title">Fit Tip Title:</label>
      <input type="text" id="fit_tip_title" name="fit_tip_title" class="form-control"
            placeholder="Enter a fit tip title" required>
    </div>
    <div class="form-group">
      <label for="products">Choose the product</label>
      <select class="form-control" name="products" id="products" required>
        {% for product in products %}
            <option name="products" id="products" value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="fit_tip">Leave your tip</label>
      <textarea name="fit_tip" id="fit_tip" rows="3" class="form-comtrol"
            placeholder="Write your fit tip..." required></textarea>
    </div>
    <input type="submit" class="btn btn-lg btn-outline-light rounded-0 mb-4" value="Add Tip!">
  </form>
</div>
{% endif %}
<!-- Fit tips -->
<div class="container text-center">

    {% for fit_tip in fit_tips %}
    <div class="card fit-tip-card mx-auto mb-4" style="width: 18rem" >
        <div class="fit-tip-image-container">
            <a href="{% url 'product_detail' fit_tip.product.id %}" class="fit-tip-tag">
                <img class="card-img-top" src="{{ fit_tip.product.image.url }}" alt="{{ product.name }}">
                <div class="fit-tip-image-centered">{{ fit_tip.product.name }}
            </a></div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ fit_tip.fit_tip_title }}</h5>
        <p class="card-text">{{ fit_tip.fit_tip }}</p>
        <p class="card-text text-muted">Left by: {{ fit_tip.user }}</p>
        <p class="card-text text-muted">Date: {{ fit_tip.date }}</p>
    </div>
    {% if request.user == tips.user or request.user.is_superuser %}
    <div class="text-right">
        <a href="{% url 'edit_fit_tip' fit_tip.id %}" class="card-link">Edit</a>
        <a href="{% url 'delete_fit_tip' fit_tip.id %}" class="card-link ml-6">Delete</a>
    </div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}