<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav p-1">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link text-black mr-4" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-4" href="#" id="cardio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cardio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cardio-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Treadmills</a>
                <a href="" class="dropdown-item">Rowing Machines</a>
                <a href="" class="dropdown-item">Bikes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white" href="#" id="weights-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weights
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="weights-link">
                <a href="" class="dropdown-item">All Produts</a>
                <a href="" class="dropdown-item">Dumbells</a>
                <a href="" class="dropdown-item">Kettlebells</a>
                <a href="" class="dropdown-item">Bars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Diet
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Protein Bars</a>
                <a href="" class="dropdown-item">Gels</a>
            </div>
        </li>
    </ul>
</div>