<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav p-1">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link text-black mr-4" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-4" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-4" href="#" id="cardio-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Cardio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cardio-link">
                <a href="{% url 'products' %}?category=treadmills" class="dropdown-item">Treadmills</a>
                <a href="{% url 'products' %}?category=rowing_machines" class="dropdown-item">Rowing Machines</a>
                <a href="{% url 'products' %}?category=bikes" class="dropdown-item">Bikes</a>
                <a href="{% url 'products' %}?category=treadmills,rowing_machines,bikes" class="dropdown-item">All
                    Cardio</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white" href="#" id="weights-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Weights
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="weights-link">
                <a href="{% url 'products' %}?category=dumbells" class="dropdown-item">Dumbells</a>
                <a href="{% url 'products' %}?category=kettlebells" class="dropdown-item">Kettlebells</a>
                <a href="{% url 'products' %}?category=bars" class="dropdown-item">Bars</a>
                <a href="{% url 'products' %}?category=dumbells,kettlebells,bars" class="dropdown-item">All Weights</a>
</div>
</li>
<li class="nav-item dropdown">
    <a class="logo-font nav-link text-white" href="#" id="diet-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Diet
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="diet-link">
        <a href="{% url 'products'% }?category=protein_bars" class="dropdown-item">Protein Bars</a>
        <a href="{% url 'products'% }?category=gels" class="dropdown-item">Gels</a>
        <a href="{% url 'products'% }?category=protein_bars,gels" class="dropdown-item">All Diet Products</a>
        </div>
</li>

<li class="nav-item dropdown">
    <a class="logo-font nav-link text-white" href="#" id="accessories-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Accessories
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
        <a href="{% url 'products'% }?category=yoga_mats" class="dropdown-item">Yoga Mats</a>
        <a href="{% url 'products'% }?category=skipping_ropes" class="dropdown-item">Skipping ropes</a>
        <a href="{% url 'products'% }?category=yoga_mats,skipping_ropes" class="dropdown-item">Bar locks</a>
        </div>
</li>
</ul>
</div>