{% extends "base.html" %}
{% load static %}


{% block content %}

{% if page_type == 'cardio' %}
    <div class="hero-image cardio-hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div>
                    <h1 class="text-white text-center hero-text">Cardio</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if page_type == 'weights' %}
    <div class="hero-image weights-hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div>
                    <h1 class="text-white text-center hero-text">Weights</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if page_type == 'accessories' %}
    <div class="hero-image accessories-hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div>
                    <h1 class="text-white text-center hero-text">Accessories</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if page_type == 'diet' %}
    <div class="hero-image diet-hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div>
                    <h1 class="text-white text-center hero-text">Diet</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if page_type == 'default' %}
<div class="hero-image all-products-hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div>
                <h1 class="text-white text-center hero-text">Al Products</h1>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">

        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <a href="{% url 'product_detail' product.id %}">

                                <p class="mb-0 text-large">{{ product.name }}</p>
                            </a>
                        </div>
                        <div class="card-footer bg-black pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left bg-black font-weight-bold product-price">
                                        £{{ product.price }}</p>
                                    {% if product.rating %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <small class="text-muted text-white"><i
                                                class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    </a>
                                    <a href="{% url 'products' %}?category={{ product.category.name }}">
                                        <small class="text-muted text-white"><i
                                                class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}</small>
                                    </a>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                    <div class="text-right">
                                        <small class="ml-3">
                                            <a href="{% url 'edit_product' product.id %}" class="">Edit</a>
                                            <a href="{% url 'delete_product' product.id %}"
                                                class="text-danger ml-5">Delete</a>
                                        </small>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}